
$page.setTitle("${om.getSchemaElement().getSingularDescription()} Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup",$data))
    #set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
    #set ($popup = "false")
#end
<table width="100%">
    <tr>
        <td>
            <table class="withColor">
                <tr>
                    <th align="left">ID:</th>
                    <td>#escapeHTML($!om.getIdentifier($!project))</td>
                    <th align="left">Accession:</th>
                    <td>#escapeHTML($!item.getProperty("ID"))</td>
                    <th align="left">Date:</th>
                    <td>$!om.getFormatedDate()</td>
                </tr>
                <tr>
                    <th align="left">Scanner:</tH>
                    <td>#escapeHTML($!item.getProperty("scanner"))</td>
                    <th align="left">Operator:</th>
                    <td>#escapeHTML($!item.getProperty("operator"))</td>
                    <th align="left">Investigator:</th>
                    <td>#escapeHTML($!item.getProperty("investigator.firstname")) #escapeHTML($!item.getProperty("investigator.lastname"))</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">&nbsp;</td>
    </tr>
    <td>
        <td>
            #if($catalogCount==0)
                <div class="error">No Catalogs found. Please upload an archive which includes catalog xmls in the root directory.</div>
                <br><br>
                <div class="edit_header3">Upload Contents:</div>
            #else
                <div class="edit_header3">Upload Contents: ($catalogCount catalog(s) found)</div>
            #end
            #if($directory)
                #displayFileSystem($directory)
            #end
        </td>
    </td>
</table>
<form enctype="multipart/form-data" method="POST" action="$link.setAction("ExptFileUpload")">

    <input TYPE="hidden" name="popup" value="$!popup"/>
    <input TYPE="hidden" name="project" value="$!project"/>
    <input TYPE="hidden" name="uploadID" value="$uploadID"/>

    #xdatPassItemFormFields($search_element $search_field $search_value $project)

    <table width="50%" align="center">
        <tr>
            <td align="center">
                Please review the details above and confirm that the proper files has been uploaded.
            </td>
        </tr>

        #auditBoxes("1" "" "Standard Upload." "Uploaded additional resources")
        #hideFormJustification()

        <tr>
            <td align="center">
                #set ($imageSessionDataUploadUrl = $link.setPage("XDATScreen_upload_xnat_imageSessionData.vm").addPathInfo("search_field","$search_field").addPathInfo("search_element","$search_element").addPathInfo("search_value","$search_value").addPathInfo("popup","$!popup"))
                <a class="btn btn2" href="$imageSessionDataUploadUrl" name="cancel">Cancel</a>
                <button class="btn btn1" type="submit" name="eventSubmit_doFinalize">Confirm</button>
            </td>
        </tr>
    </table>
</form>
