<p>Welcome to **XNAT**: You can change this site description by clicking the **Administer->Site Administration** menu option, and modifying the **Site Description** setting on the **Site Setup** tab.</p>
<p>This site description comes from the file **xnat-templates/screens/site_description.vm**. You can override this file in a plugin or use Markdown text instead.</p>
