#* @vtlvariable name="appletParams" type="java.lang.String" *#
#* @vtlvariable name="expectedModality" type="java.lang.String" *#
#* @vtlvariable name="protocol" type="java.lang.String" *#
#* @vtlvariable name="visit" type="java.lang.String" *#
#* @vtlvariable name="jsessionid" type="java.lang.String" *#
#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="session_id" type="java.lang.String" *#
#* @vtlvariable name="scan_type" type="java.lang.String" *#
#* @vtlvariable name="visit_id" type="java.lang.String" *#
#* @vtlvariable name="session_date" type="java.lang.String" *#
#* @vtlvariable name="subject_id" type="java.lang.String" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
<!-- UploadApplet.vm -->
<p style="width:760px;margin-bottom:20px;font-size:12px;">This tool supports uploading DICOM and ECAT formatted medical
    imaging data. If you are unsure of the format of your data, please contact
    the help desk for assistance. The tool takes a few moments to load, during which time you may see a blank screen
    below. Please be patient while the tool loads.
    The tool requires Java 1.6 or newer to operate. If your browser does not have this version of Java installed, please
    contact your IT support for assistance.</p>

<div id='appletDiv'></div>
<script type="text/javascript">
    var stopTime = (new Date());
    //persist the JSESSION for up to 1 day.
    stopTime.setDate(stopTime.getDate() + 1);

    jq(function () {
        // / refresh timeout interval so applet doesn't lose its session.
        setInterval(function () {
            if (stopTime.getTime() > (new Date()).getTime()) {
                XNAT.app.timeout.handleOk();
            }
        }, 60000);

        // add "applet" class to body to support special handling for applets
        jq('body').addClass('applet');
    });
</script>

<applet code="org.nrg.xnat.upload.ui.UploadAssistantApplet" codebase="$content.getURI("applet/")" width="800" height="500"
        archive="upload-assistant__V1.7.0.jar, DicomEdit__V4.0.0.jar, DicomUtils__V1.3.1.jar, antlr-runtime__V3.5.2.jar, commons-codec__V1.10.jar, commons-lang3__V3.4.jar, commons-lang__V2.6.jar, config__V1.7.0.jar, dcm4che-core__V2.0.29.jar, dicom-xnat-sop__V1.7.0.jar, dicom-xnat-util__V1.7.0.jar, dicomtools__V1.7.0.jar, ecat-edit__V0.2.0.jar, ecat-io__V0.1.0.jar, framework__V1.7.0.jar, guava__V19.0.jar, jackson-annotations__V2.6.5.jar, jackson-core__V2.6.5.jar, jackson-databind__V2.6.5.jar, java-uuid-generator__V3.1.3.jar, javax.inject__V1.jar, jcalendar__V1.4.jar, joda-time__V2.1.jar, json__V20151123.jar, log4j__V1.2.17.jar, nrgutil__V1.1.0.jar, slf4j-api__V1.7.21.jar, slf4j-log4j12__V1.7.21.jar, wizard__V1.1.jar">
    <param name="xnat-url" value="$!siteConfig.getSiteUrl()"/>
    <param name="xnat-admin-email" value="$!siteConfig.getAdminEmail()"/>
    <param name="xnat-description" value="$!siteConfig.getSiteId()"/>
    <param name="n-upload-threads" value="4"/>
    <param name="fixed-size-streaming" value="true"/>
    <param name="java_arguments" value="-Djnlp.packEnabled=true"/>
    <param name="jsessionid" value="$jsessionid"/>
    <param id="window-name" name="window-name" value=""/>

    #if($project)
        <param name="xnat-project" value="$project"/>
        #if($subject_id)
            <param name="xnat-subject" value="$subject_id"/>
        #end
        #if($session_id)
            <param name="xnat-session-label" value="$session_id"/>
        #end
        #if($session_date)
            <param name="xnat-scan-date" value="$session_date"/>
        #end
        #if($visit_id)
            <param name="xnat-visit-id" value="$visit_id"/>
        #end
        #if($visit)
            <param name="xnat-visit" value="$visit"/>
        #end
        #if($protocol)
            <param name="xnat-protocol" value="$protocol"/>
        #end
        #if($expectedModality)
            <param name="expected-modality" value="$expectedModality"/>
        #end
        #if($scan_type)
            <param name="xnat-scan-type" value="$scan_type"/>
        #end
    #end
</applet>
<script type="application/javascript">
    $(function () {
        if (!window.name) {
            window.name = "upload-applet";
        }
        $("#window-name").val(window.name);
    });
</script>
<!-- /UploadApplet.vm -->
