<!-- Begin XDATScreen_themes.vm -->
<style>
    .bold{
        font-weight: bold;
    }
</style>
<div style="margin-left: 20px;">
	<h2><span id="titleAppName"></span> Theme Management</h2>
    <div id="currentThemeDiv">
        <span class="label bold">Current theme: </span>
        <span id="currentTheme">None</span>
    </div>
    <br>
    <div id="selectThemeDiv">
        <span class="label bold">Select an existing theme: </span>
        <select id="themeSelection" name="theme" style="width: 270px;"></select>&nbsp;
        <button id="submitThemeButton" onclick="setTheme();">Set Theme</button>&nbsp;
        <button id="removeThemeButton" onclick="removeTheme();">Remove Theme</button>
    </div>
	<br>
    <form id="uploadThemeForm" method="POST" class="optOutOfXnatDefaultFormValidation">
        <span class="label bold">Upload a theme package: </span>
        <input type="file" id="themeFileUpload" name="themeFileUpload" multiple style="width: 270px;"/>&nbsp;
        <button type="submit" id="submitThemeUploadButton">Upload</button>
    </form>
</div>

<script type="text/javascript" src="$content.getURI('scripts/themeManagement.js')"></script>

<!-- End XDATScreen_themes.vm -->