#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatImagesessiondata" *#
#* @vtlvariable name="scan" type="org.nrg.xdat.om.XnatImagescandata" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#

#macro (escapeProperty $prop)
    $!turbineUtils.escapeHTML("$!scan.getProperty($prop)")
#end

#macro (escapeStringProperty $propStr)
    $!turbineUtils.escapeHTML("$!scan.getStringProperty($propStr)")
#end

#macro (escapeHtml $html)
    $!turbineUtils.escapeHTML($html)
#end

<!-- START /xnat-templates/screens/xnat_mrScanData/xnat_mrScanData_details.vm -->
<table class="xnat-table clean compact scan-details" style="border: none;">
    <tr>
        <th>Image</th>
        <td>
            #scanSnapshotImage($content $om $scan)
        </td>
    </tr>
    #if($scan.getProperty('quality'))
        <tr>
            <th>Quality</th>
            <td align="left">#escapeProperty('quality')</td>
        </tr>
    #end
    #if($scan.getProperty('condition'))
        <tr>
            <th>Condition</th>
            <td align="left">"#escapeProperty('condition')</td>
        </tr>
    #end
    #if($scan.getProperty('series_description'))
        <tr>
            <th>Series Desc</th>
            <td align="left">"#escapeProperty('series_description')</td>
        </tr>
    #end
    #if($scan.getProperty('modality'))
        <tr>
            <th>Modality</th>
            <td align="left">"#escapeProperty('modality')</td>
        </tr>
    #end
    #if($scan.getProperty('frames'))
        <tr>
            <th>Frames</th>
            <td align="left">#escapeProperty('frames')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.imageType'))
        <tr>
            <th>Image Type</th>
            <td align="left">#escapeProperty('parameters.imageType')</td>
        </tr>
    #end
    #if($scan.getProperty('coil'))
        <tr>
            <th>Coil</th>
            <td align="left">#escapeProperty('coil')</td>
        </tr>
    #end
    #if($scan.getProperty('fieldStrength'))
        <tr>
            <th>Field Strength</th>
            <td align="left">#escapeProperty('fieldStrength')</td>
        </tr>
    #end
    #if($!scan.getProperty('parameters.voxelRes.x') || $!scan.getProperty('parameters.voxelRes.y') || $!scan.getProperty('parameters.voxelRes.z'))
        <tr>
            <th>Vox. Res.</th>
            <td align="left">#escapeProperty('parameters.voxelRes.x'), #escapeProperty('parameters.voxelRes.y'), #escapeProperty('parameters.voxelRes.z')</td>
        </tr>
    #end
    #if($!scan.getProperty('parameters.fov.x') || $!scan.getProperty('parameters.fov.y'))
        <tr>
            <th>FOV</th>
            <td align="left">#escapeProperty('parameters.fov.x') x #escapeProperty('parameters.fov.y')</td>
        </tr>
    #end
    #if($!scan.getProperty('parameters.matrix.x') || $!scan.getProperty('parameters.matrix.y'))
        <tr>
            <th>Matrix</th>
            <td align="left">#escapeProperty('parameters.matrix.x') x #escapeProperty('parameters.matrix.y')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.partitions'))
        <tr>
            <th>Part.</th>
            <td align="left">#escapeProperty('parameters.partitions')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.tr'))
        <tr>
            <th>TR</th>
            <td align="left">#escapeProperty('parameters.tr')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.te'))
        <tr>
            <th>TE</th>
            <td align="left">#escapeProperty('parameters.te')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.ti'))
        <tr>
            <th>TI</th>
            <td align="left">#escapeProperty('parameters.ti')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.flip'))
        <tr>
            <th>Flip</th>
            <td align="left">#escapeProperty('parameters.flip')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.sequence'))
        <tr>
            <th>Sequence</th>
            <td align="left">#escapeProperty('parameters.sequence')</td>
        </tr>
    #end
    #if($scan.getProperty('parameters.origin'))
        <tr>
            <th>Origin</th>
            <td align="left">#escapeProperty('parameters.origin')</td>
        </tr>
    #end
    #if($scan.getProperty('note'))
        <tr>
            <th>Note</th>
            <td align="left">#escapeProperty('note')</td>
        </tr>
    #end
    #if($scan.getProperty('validation.status'))
        <tr>
            <th>Validity</th>
            <td align="left">#escapeStringProperty('validation.status')</td>
        </tr>
    #end
    #if($scan.getProperty('validation.method'))
        <tr>
            <th>Validation Method</th>
            <td align="left">#escapeStringProperty('validation.method')</td>
        </tr>
    #end
    #if($scan.getProperty('validation.date'))
        <tr>
            <th>Validation Date</th>
            <td align="left">#escapeStringProperty('validation.date')</td>
        </tr>
    #end
    #if($scan.getProperty('validation.notes'))
        <tr>
            <th>Validation Notes</th>
            <td align="left">#escapeStringProperty('validation.notes')</td>
        </tr>
    #end

    #if($scan.getUid())
        <tr>
            <td></td>
            <td>
                <br>
                <a target="_blank" class="view-dicom-headers" href="$content.getURI("/REST/services/dicomdump?src=/archive/projects/$om.getProject()/experiments/$om.getId()/scans/$scan.getId()&format=html&requested_screen=DicomScanTable.vm")">
                    <u>View DICOM Headers</u>
                </a>
            </td>
        </tr>
    #end

    #foreach($addP in $scan.getParameters_addparam())
        <tr>
            <th>#escapeHtml("$!addP.getName()")</th>
            <td align="left">#escapeHtml("$!addP.getAddfield()")</td>
        </tr>
    #end

    #foreach($scanAssessor in $scanAssessors)
        #if($scanAssessor.canRead($user))

            #set($scanById = $!scanAssessor.getScanById($scanID))
            #set($scanId = $!scanAssessor.getId())
            #set($scanType = $!scanAssessor.getXSIType())
            #set($scanField = "$!scanAssessor.getXSIType().ID")

            #set($url=$link.setAction('DisplayItemAction').addPathInfo('search_element',$scanType).addPathInfo('search_field',$scanField).addPathInfo('search_value',$scanId).addPathInfo('popup',$popup).addPathInfo('project',$project))

                #if($scanById)
                <tr>
                    <td><a href="$url" title="$scanAssessor.getIdentifier($project)">$!scanAssessor.getHeader():</a></td>
                    <td border=0 style="font-weight:bold; text-align:left;" NOWRAP>
                        $!scanAssessor.getScanById($scanID).getSummary()
                    </td>
                </tr>
            #end
        #end
    #end
    #parse('screens/defacing_qc.vm')
</table>
<!-- END /xnat-templates/screens/xnat_mrScanData/xnat_mrScanData_details.vm -->
