<!-- BEGIN /xnat-templates/screens/xnat_ctSessionData/xnat_ctSessionData_title.vm -->

#define ($reportTitle)
    #if ($!om.getIdentifier($project,true))
        $!om.getIdentifier($project,true)
    #elseif ($om.getLabel())
        $om.getLabel()
    #else
        $om.getId()
    #end
#end

<div id="report_title" class="edit_title">
    $om.getSchemaElement().getSingularDescription(): #escapeHTML($reportTitle)
</div>

<!-- END /xnat-templates/screens/xnat_ctSessionData/xnat_ctSessionData_title.vm -->
