#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#

<!-- start /xnat-templates/screens/xnat_subjectData/xnat_subjectData_addtl_demographics.vm -->

## ["fieldname", "Field Label"]
#set ($demographicProps = [
    ["education", "Education"],
    ["employment", "Employment"],
    ["race", "Race"],
    ["ethnicity", "Ethnicity"],
    ["height", "Height (inches)"],
    ["weight", "Weight (lbs)"],
    ["src", "Recruitment Source"],
    ["group", "Group"]
])

#foreach($demoProp in $demographicProps)

    #set ($fieldName = $demoProp[0])
    #set ($fieldLabel = $demoProp[1])
    #set ($demoDataType = "xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/${fieldName}")

    #if($subject.getProperty($demoDataType))
    <tr>
        ## #formLabel($fieldLabel))
        <th class="formLabel">$fieldLabel</th>
        <td>
        ## special handling of employment field
        #if ($fieldName == "employment")
            #renderEmployment($!turbineUtils.escapeHTML("$subject.getProperty(${demoDataType})"))
        #else
            $!turbineUtils.escapeHTML("$subject.getProperty(${demoDataType})")
        #end
        </td>
    </tr>
    #end

#end

<!-- end /xnat-templates/screens/xnat_subjectData/xnat_subjectData_addtl_demographics.vm -->
