
<div id="xnat_power">
    <a target="_blank" href="http://www.xnat.org/" style=""><img src="$content.getURI('images/xnat_power_small.png')"></a>
</div>

<script type="text/javascript">

    loadjs(scriptUrl('xnat/event.js'), function(){

        // shift-click the header or footer XNAT logo to ENABLE debug mode
        // alt-shift-click to DISABLE debug mode
        // ctrl-alt-click to open the Swagger page in a new window
        XNAT.event.click('#header_logo, #xnat_power > a')
            .shiftKey(function(e){
                e.preventDefault();
                window.location.hash = 'debug=on'
                window.location.reload();
            })
            .altShift(function(e){
                e.preventDefault();
                window.location.hash = 'debug=off'
                window.location.reload();
            })
            .ctrlAlt(function(e){
                e.preventDefault();
                XNAT.ui.popup('/xapi/swagger-ui.html');
            });

    })

</script>