<!-- BEGIN xnat-templates/screens/xnat_projectData/xnat_projectData_summary_tabs.vm -->
#set($projectId = $project.getId())
#set($isProjectAdmin = false)
#if($data.getSession().getAttribute("userHelper").isOwner($projectId) || $turbineUtils.isSiteAdmin($user))
    #set($isProjectAdmin=true)
#end
<div id="project_summary_module" style="display:none">
    <div id="projectSummary" class="yui-navset">
        #if ($isProjectAdmin)
            <script src="$content.getURI('/scripts/xnat/app/projectSettings.js')"></script>
            <span id="project-settings-btn-container" class="hidden pull-right"></span>
            #set ($scanTypeMapping = $project.getUseScanTypeMapping())
            #set ($projectSettingsUri = "/page/project/settings/content.jsp?id=$projectId")
            <script>
                (function(){

                    XNAT.data = getObject(XNAT.data);
                    XNAT.data.project = getObject(XNAT.data.project);

                    XNAT.app = getObject(XNAT.app);
                    XNAT.app.projectSettings = getObject(XNAT.app.projectSettings);

                    // set this for use in spawned panel
                    XNAT.data.project.scanTypeMapping = '$!scanTypeMapping';

                    function setUrlHash(str){
                        var base = window.location.href.split('#')[0];
                        window.location.replace(base + (str || ''));
                    }

                    function openProjectSettingsDialog(){
                        var _url = '$content.getURI($projectSettingsUri)';
                        XNAT.xhr.get({
                            url: _url,
                            success: function(html){
                                setUrlHash('#settings');
                                XNAT.dialog.open({
                                    width: '90%',
                                    height: '90%',
                                    maxBtn: true,
                                    esc: false,
                                    enter: false,
                                    title: 'Project Settings for $projectId',
                                    content: html,
                                    buttons: [
                                        {
                                            label: 'Done',
                                            close: true,
                                            isDefault: true
                                        }
                                    ],
                                    onClose: function(){
                                        setUrlHash('#!');
                                    }
                                })
                            }
                        });
                    }

                    function spawnProjectSettingsBtn(){
                        var projectSettingsBtn$ = $.spawn('button#project-settings-btn.btn.btn-hover', {
                            title: "Open Project Settings",
                            style: { marginTop: '2px' },
//                            data: {
##                                dialog: '@$content.getURI($projectSettingsUri)',
##                                dialogOpts: 'width:90%;height:90%;maxBtn:true;title:Project Settings for $projectId'
//                            },
                            on: {
                                click: function(e){
                                    e.preventDefault();
                                    openProjectSettingsDialog();
                                }
                            }
                        }, '<i class="fa fa-gear"></i> Project Settings');
                        $('#project-settings-btn-container').hidden(false).append(projectSettingsBtn$);
                        return projectSettingsBtn$;
                    }

                    XNAT.spawner
                        .check('xnat:projectSettings/root')
                        .ok(
                            // Spawner element found, show 'Project Settings' button
                            function(){
                                spawnProjectSettingsBtn();
                                if (/[#!]settings/i.test(window.location.href)){
                                    openProjectSettingsDialog();
                                }
                            },
                            // Spawner element not found, so check for project settings in plugins
                            function(){
                                XNAT.app.pluginSettings.projectSettingsActionItem(spawnProjectSettingsBtn());
                            }
                        );

                })();
            </script>
        #end
        <ul class="yui-nav">
            <li class="selected"><a href="#tab1"><em>Details</em></a></li>
            #set($canReadSubjects=$data.getSession().getAttribute("userHelper").canRead("xnat:subjectData/project","$projectId"))
            #if($isProjectAdmin)
                <li><a href="#tab3"><em>Access</em></a></li>
                <li class="project-manage-tab"><a href="#othermgmt"><em>Manage</em></a></li>
                <li><a href="#tab4"><em>Pipelines</em></a></li>
            #end
            #foreach($tab in $tabs)
                <li><a href="#$tab.getProperty("divName")"><em>$tab.getProperty("title")</em></a></li>
            #end

        </ul>
        <div class="yui-content">
            <div id="tab1" class="pad10">
                <p>#parse($turbineUtils.getTemplateName("_summary_details","xnat:projectData",$projectId))</p>
            </div>

            #if($data.getSession().getAttribute("userHelper").isOwner($projectId) || $turbineUtils.isSiteAdmin($user))
                    <div id="tab3" class="pad10">
                        <p>#parse($turbineUtils.getTemplateName("_summary_management","xnat:projectData",$projectId))</p>
                    </div>
                    <div id="othermgmt" class="pad10 project-manage-tab-content">
                        <p>#parse($turbineUtils.getTemplateName("_summary_manage","xnat:projectData",$projectId))</p>
                    </div>
                    <div id="tab4">
                        <p>#parse($turbineUtils.getTemplateName("_summary_pipeline","xnat:projectData",$projectId))</p>
                    </div>
            #end
            #foreach($tab in $tabs)
                <div id="$tab.getProperty("divName")">
                    #set($path = "screens/xnat_projectData/tabs/${tab.getProperty('fileName')}")
                    <p>#parse($path)</p>
                </div>
            #end

        </div>
    </div>
</div>

<script type="text/javascript">
    function summaryIndexChanged(){
        var activeIndex = this.get("activeIndex");
        YAHOO.util.Cookie.set("${project.getId()}.summary.index", activeIndex);
    }

    function summaryTabManagerInit(){
        window.summaryTabView = new YAHOO.widget.TabView('projectSummary');
        var oButton1 = new YAHOO.widget.Button("button1");
        var oButton2 = new YAHOO.widget.Button("button2");
        #if($data.getSession().getAttribute("userHelper").isOwner($projectId) || $turbineUtils.isSiteAdmin($user))
            var oButton3 = new YAHOO.widget.Button("button3");
            var oButton4 = new YAHOO.widget.Button("button4");
            var oButton5 = new YAHOO.widget.Button("button5");
        #end


        window.project_summary_module = new YAHOO.widget.Module("project_summary_module", {
            visible: false,
            zIndex: 5
        });

        #addCustomScreenJS($om.getXSIType() "report/tabs_js")

        window.project_summary_module.show();

        #if($canReadSubjects)
            #if($topTab)
                var i = 0;
                var found = false;
                while (window.summaryTabView.getTab(i) != null && !found) {
                    var tabLabel = window.summaryTabView.getTab(i).get('label');
                    var parseTabLabel = tabLabel.split('<');
                    ##//alert("tab #" + i + ": " + parseTabLabel[0] + ", $!topTab
                    ##//");
                    if (parseTabLabel[0] == "$!topTab") {
                        // We have a match!
                        window.summaryTabView.set('activeIndex', i);
                        found = true;
                    }
                    i++;
                }
                if (!found) {
                    window.summaryTabView.set('activeIndex', 0);
                }
            #else
                var tabIndex = YAHOO.util.Cookie.get("${project.getId()}.summary.index");
                window.summaryTabView.set('activeIndex', tabIndex || 0);
            #end
            window.summaryTabView.subscribe("activeTabChange", summaryIndexChanged);
        #end

    }
    summaryTabManagerInit();
</script>
<!-- END xnat-templates/screens/xnat_projectData/xnat_projectData_summary_tabs.vm -->
