#if($data.getSession().getAttribute("userHelper").isOwner($project.getId()) || $turbineUtils.isSiteAdmin($user))
<!-- position 99 -->
##    <li class="yuimenuitem hidden" id="project-settings-action">
##        #set ( $projectSettingsUri = "/app/template/Page.vm?view=project/settings&id=$project.getId()" )
##        <a href="$content.getURI($projectSettingsUri)">Project Settings</a>
##    </li>
##    <script>
##        XNAT.spawner
##            .resolve('xnat:projectSettings/root')
##            .ok(
##                // Spawner element found, show 'Project Settings' in 'Actions' menu
##                function(){
##                    $('#project-settings-action').hidden(false);
##                },
##                // Spawner element not found, so check for project settings in plugins
##                function(){
##                    XNAT.app.pluginSettings.projectSettingsActionItem('#project-settings-action');
##                }
##            );
##    </script>
#end