#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#

<!--BEGIN xnat_petmrSessionData_keyFields.vm -->

#parse($turbineUtils.getTemplateName("_keyFields", "xnat:imageSessionData", $project))

#if($!item.getProperty("xnat:petmrSessionData/tracer/name"))

<tr>
    <th align="left" colspan="2">
        <a name="LINKtracer" href="#LINKtracer" onclick="return blocking('tracer');">
            <img id="IMGtracer" src="$content.getURI("images/plus.jpg")" border=0>
            Tracer: $!turbineUtils.escapeHTML("$!item.getProperty('xnat:petmrSessionData/tracer/name')")
        </a>
    </th>
</tr>

#end

<tr>
    <td colspan="2">
        <div id="spantracer" style="position:relative; display:none;">

            #set ($sessionProperties = [
            [
                'Marker',
                'marker'
            ],
            [
                'Stabilization',
                'stabilization'
            ],
            [
                'Receiver Coil',
                'coil'
            ],
            [
                'Start Time',
                'tracer/startTime'
            ],
            [
                'Transmissions',
                'tracer/transmissions'
            ],
            [
                'Dosage',
                'tracer/dose',
                'tracer/dose/units'
            ],
            [
                'Specific Activity',
                'tracer/specificActivity'
            ],
            [
                'Total Mass',
                'tracer/totalMass',
                'tracer/totalMass/units'
            ],
            [
                'Intermediate',
                'tracer/intermediate'
            ],
            [
                'Injection Time',
                'start_time_injection'
            ],
            [
                'Emission Scan Time',
                'start_time_scan'
            ],
            [
                'Blood Glucose Level',
                'blood_glucose',
                'blood_glucose_units'
            ],
            [
                'Blood Glucose Collection Time',
                'blood_glucose_time'
            ],
            ['end']
            ])

            <table id="pet-mr-session-data-key-fields">

                #foreach ($petmrData in $sessionProperties)

                    #set ($dataLabel = ${petmrData[0]})
                    #set ($dataName = $!item.getProperty("xnat:petmrSessionData/${petmrData[1]}"))
                    #set ($dataOther = $!item.getProperty("xnat:petmrSessionData/${petmrData[2]}"))

                    #if ("$!dataLabel" == "end")
                    ## #stop ## this is the end
                    #elseif ("$!dataName" != "")
                        <tr>
                            <th align="left">$!turbineUtils.escapeHTML("$dataLabel"): </th>
                            ## if there's a third item...
                            #if ("$!dataOther" != "")
                                <td>$!turbineUtils.escapeHTML("$dataName")&nbsp;$turbineUtils.escapeHTML("$dataOther")</td>
                            #else
                                <td>$!turbineUtils.escapeHTML("$dataName")</td>
                            #end
                        </tr>
                    #end
                #end

            </table>


##            <table>
##                #if($!item.getProperty("xnat:petmrSessionData/marker"))
##                    <tr>
##                        <th align="left">Marker:</th>
##                        <td>$!item.getProperty("xnat:petmrSessionData/marker")</td>
##                    </tr>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/stabilization"))
##                    <tr>
##                        <th align="left">Stabilization:</th>
##                        <td>$!item.getProperty("xnat:petmrSessionData/stabilization")</td>
##                    </tr>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/coil"))
##                    <tr>
##                        <th align="left">Receiver coil:</th>
##                        <td>$!item.getProperty("xnat:petmrSessionData/coil")</td>
##                    </tr>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/startTime"))
##                    <TR>
##                        <TH align="left">Start Time</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/tracer/startTime")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/transmissions"))
##                    <TR>
##                        <TH align="left">Transmissions</TH>
##                        <TD>$!item.getIntegerProperty("xnat:petmrSessionData/tracer/transmissions")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/dose"))
##                    <TR>
##                        <TH align="left">Dosage</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/tracer/dose") $!item.getStringProperty("xnat:petmrSessionData/tracer/dose/units")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/specificActivity"))
##                    <TR>
##                        <TH align="left">Specific Activity</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/tracer/specificActivity")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/totalMass"))
##                    <TR>
##                        <TH align="left">Total Mass</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/tracer/totalMass") $!item.getStringProperty("xnat:petmrSessionData/tracer/totalMass/units")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/tracer/intermediate"))
##                    <TR>
##                        <TH align="left">Intermediate</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/tracer/intermediate")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/start_time_injection"))
##                    <TR>
##                        <TH align="left">Injection Time</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/start_time_injection")</TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/start_time_scan"))
##                    <TR>
##                        <TH align="left">Emission Scan Time</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/start_time_scan")</TD>
##                    </TR>
##                #end
##
##                #if($!item.getProperty("xnat:petmrSessionData/blood_glucose"))
##                    <TR>
##                        <TH align="left">Blood Glucose Level</TH>
##                        <TD>
##                            $!item.getProperty("xnat:petmrSessionData/blood_glucose")&nbsp;
##                            $!item.getProperty("xnat:petmrSessionData/blood_glucose_units")
##                        </TD>
##                    </TR>
##                #end
##                #if($!item.getProperty("xnat:petmrSessionData/blood_glucose_time"))
##                    <TR>
##                        <TH align="left">Blood Glucose Collection Time</TH>
##                        <TD>$!item.getProperty("xnat:petmrSessionData/blood_glucose_time")</TD>
##                    </TR>
##                #end
##            </table>

        </div>
    </td>
</tr>

<!--END xnat_petmrSessionData_keyFields.vm -->
