## Main JavaScript and CSS files for XNAT

#set ($SITE_ROOT = $content.getURI(''))

## only load once
#if (!$appJS)

    <!-- app.css loaded last -->
    <link rel="stylesheet" type="text/css" href="$content.getURI('style/app.css?v=1.7.0a1')">

    <link rel="stylesheet" type="text/css" href="$content.getURI('page/admin/style.css?v=1.7.0a1')">

    <link rel="stylesheet" type="text/css" href="$content.getURI('scripts/xmodal-v1/xmodal.css?v=1.7.0a1')">
    <script src="$content.getURI('scripts/xmodal-v1/xmodal.js')"></script>
    <script src="$content.getURI('scripts/xmodal-v1/xmodal-migrate.js')"></script>

    <!-- XNAT JLAPI scripts -->
    <script src="${SITE_ROOT}/scripts/xnat/url.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/xhr.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/event.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/element.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/templates.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/input.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/select.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/table.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/panel.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/tabs.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/popup.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/dialog.js"></script>

    <!-- The Spawner! -->
    <script src="${SITE_ROOT}/scripts/xnat/spawner.js"></script>

    #set ($appJS = true)

#else

    <!-- AppJS is loaded -->

#end
