## Main JavaScript and CSS files for XNAT

#set($versionString = "v=1.7.3b")
#set($SITE_ROOT = $content.getURI(""))

## only load once
#if (!$appJS)

    <!-- app.css loaded first -->
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/style/app.css?${versionString}">

    <!-- Icon sets -->
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/style/font-awesome.min.css?${versionString}">
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/style/icons.css?${versionString}">
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/page/admin/style.css?${versionString}">

    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/scripts/xmodal-v1/xmodal.css?${versionString}">
    <script src="${SITE_ROOT}/scripts/xmodal-v1/xmodal.js"></script>
    <script src="${SITE_ROOT}/scripts/xmodal-v1/xmodal-migrate.js"></script>

    #if ($theme)
        <!-- Theme CSS -->
        #set ($THEME_CSS = "/themes/${theme}/style/theme.css")
        #if ($turbineUtils.resourceExists($THEME_CSS))
            ## /themes/theme-name/style/theme.css
            <!-- THEME_CSS: ${THEME_CSS} -->
            <link rel="stylesheet" type="text/css" href="$content.getURI($THEME_CSS)">
        #elseif ($!themedStyle)
            <!-- Load active global theme style -->
            ## /themes/theme-name/styles/theme.css
            <!-- themedStyle: $!themedStyle -->
            <link rel="stylesheet" type="text/css" href="$content.getURI($themedStyle)">
        #end
    #end

    <!-- XNAT JLAPI stylesheets -->
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/scripts/xnat/ui/dialog.css?${versionString}">

    <!-- XNAT JLAPI scripts -->
    <script src="${SITE_ROOT}/scripts/xnat/util/sub64.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/validate.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/url.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/xhr.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/cookie.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/event.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/element.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/templates.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/input.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/select.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/table.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/panel.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/tabs.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/banner.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/popup.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/ui/dialog.js"></script>

    <!-- The Spawner! -->
    <script src="${SITE_ROOT}/scripts/xnat/spawner.js"></script>

    <!-- XNAT app scripts -->
    <script src="${SITE_ROOT}/scripts/xnat/app/codeEditor.js"></script>
    <script src="${SITE_ROOT}/scripts/xnat/app/pluginSettings.js"></script>

    #if ($theme)
        <!-- Theme JS -->
        #set ($THEME_JS = "/themes/${theme}/scripts/theme.js")
        #if ($turbineUtils.resourceExists($THEME_JS))
            ## /themes/theme-name/scripts/theme.js
            <!-- THEME_JS: $!THEME_JS -->
            <script type="text/javascript" src="$content.getURI($THEME_JS)"></script>
        #elseif ($themedScript && $turbineUtils.resourceExists($themedScript))
            <!-- Load active global theme script -->
            <!-- themedScript: $!themedScript -->
            <script type="text/javascript" src="$content.getURI($themedScript)"></script>
        #end
    #end

    <!-- JS functions to initialize XNAT -->
    <script src="${SITE_ROOT}/scripts/xnat/init.js"></script>

    #set ($appJS = true)

#else

    <!-- AppJS is loaded -->

#end
