#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
## Base JavaScript files

<!-- START BaseJS.vm -->

#set ($versionString = "v=1.7.5a")
#set ($SITE_ROOT = $content.getURI(""))

#if ($DEBUG)
    #set ($js = "js")
    <script>console.log('========== DEBUG ==========')</script>
#else
    #set ($js = "min.js")
#end

## only load once
#if ($!baseJS != true)

    <!-- load polyfills before ANY other JavaScript -->
    <script src="${SITE_ROOT}/scripts/polyfills.js"></script>

    <!-- XNAT global functions (no dependencies) -->
    <script src="${SITE_ROOT}/scripts/globals.js"></script>

    <!-- set global vars that are used often -->
    <script>

        var XNAT = XNAT || {};
        var serverRoot = '$content.getURI("")';
        var csrfToken = '$!data.getSession().getAttribute("XNAT_CSRF")';
        var showReason = realValue('$!showReason');
        var requireReason = realValue('$!requireReason');
        var logoutUrl = '$link.setAction("LogoutUser")';

        window.requestMethod = '$!data.request.method';

    </script>
    ## separate script tags so not everything breaks if showReason or requireReason blows up

    <!-- set theme js vars -->
    #if ($theme)
    <script>
        XNAT.theme = {};
        XNAT.theme.name = '${theme}';
        XNAT.themeName = XNAT.theme.name;
    </script>
    #end

    #parse('/xnat-templates/navigations/jsLib.vm')

    #set ($baseJS = true)

#else

    <!-- BaseJS is loaded -->

#end

<!-- END BaseJS.vm -->

