<!-- search script -->
<script type="text/javascript">
<!--
function DefaultEnterKey(e,button){
var keynum, keychar, numcheck ;

if(window.event) // IE
	{
	  keynum = e.keyCode ;
	  if (keynum==13){
	    submitQuickSearch();
	    return true;
	  }
	}
else if(e) // Netscape/Firefox/Opera
	{
	  keynum = e.which ;
	  if (keynum==13){
	    submitQuickSearch();
	    return false;
	  }
	}
	  return true;
}

function submitQuickSearch(){
	    concealContent();
	    if(document.getElementById('quickSearchForm').value!="")
    		   document.getElementById('quickSearchForm').submit();
}

//-->
</script>
<!-- end search script -->

<form id="quickSearchForm" method="post" action="$link.setAction("QuickSearchAction")">
    <input id="searchValue" name="searchValue" type="text" maxlength="40" size="25" value="$!field" />
    <button type="button" id="search_btn" class="btn2" onclick="submitQuickSearch();">Search</button>
#if($turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-advanced-search","true")))
    <script>
        function advancedSearch(){
## maybe eventually this can come up in a dialog
##		xmodal.iframe({
##			url: '$link.setPage("XDATScreen_search_wizard1.vm")/popup/true',
##			title: 'Advanced Search',
##			width: 800,
##			height: 500,
##			footer: false,
##		//                scroll: false,
##			overflow: 'hidden'
##		});
            window.location.href="$link.setPage("XDATScreen_search_wizard1.vm")";
        }
    </script>
    <button type="button" id="advanced_btn" class="btn2" onclick="advancedSearch();">Advanced</button>
#end
</form>
