#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#

<!--BEGIN xnat_imageSessionData_keyFields.vm -->

#parse($turbineUtils.getTemplateName("_keyFields","xnat:subjectAssessorData", $project))

#if($!item.getProperty("operator"))
<tr>
    <th align="left">Operator:</th>
    <td>$!turbineUtils.escapeHTML("$!item.getProperty('operator')")</td>
</tr>
#end

#if($!item.getProperty("scanner") || $!item.getProperty("scanner.model") || $!item.getProperty("scanner.manufacturer"))
<tr>
    <th align="left">Scanner:</th>
    <td>$!turbineUtils.escapeHTML("$item.getProperty('scanner')") $!turbineUtils.escapeHTML("$item.getProperty('scanner.manufacturer')") $!turbineUtils.escapeHTML("$item.getProperty('scanner.model')")</td>
</tr>
#end

#if($!item.getProperty("acquisition_site"))
<tr>
    <th align="left">Acquisition Site:</th>
    <td>$!turbineUtils.escapeHTML("$!item.getProperty('acquisition_site')")</td>
</tr>
#end

<!--END xnat_imageSessionData_keyFields.vm -->
