#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="user" type="org.nrg.xdat.security.XDATUser" *#
#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatImagesessiondata" *#
#* @vtlvariable name="scan" type="org.nrg.xdat.om.XnatImagescandata" *#
#* @vtlvariable name="resource" type="org.nrg.xdat.om.XnatAbstractresource" *#

<!--BEGIN /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->

#set ($SITE_ROOT = $content.getURI(""))

#macro(renderEmptyResourceCount)
    #if ($data.getSession().getAttribute("userHelper").canEdit($item))
    <a onclick="window.viewer.init(true);">Show Counts</a>
    #else
        #displayListAsTipText(["File Count Unknown", "No files were found associated with this scan. Contact a member or owner of this project to generate the file count data."])
    #end
#end

#macro(escapeHtml $str)
     $!turbineUtils.escapeHTML("$!str")
#end

#macro(escapeAll $str $aVar)
    $aVar = $!turbineUtils.escapeHTML($!turbineUtils.escapeJS("$!str"))
#end

<div class="data-table-container" style="width: #if($siteConfig.uiDisplaySeriesDescription) 1089px #else 889px #end" id="selectable-table-scans">
    <div class="data-table-titlerow">
        <h3 class="data-table-title">Scans</h3>
        <div class="data-table-actionsrow">
            <span class="textlink-sm data-table-action">Bulk Actions:</span>
##            <button class="btn btn-sm data-table-action disabled">Open in Viewer</button>
            <button class="btn btn-sm data-table-action do-scan-download disabled">Download</button>
            #addGlobalCustomScreens("xnat_imageScanData/scanActions")
        </div>
        <span class="clear clearfix"></span>
    </div>

    #set($scanAssessors =$!om.getScanAssessors())

    #if ($om.getSortedScans().isEmpty())
        <!-- no scans -->
    #else
        <div class="data-table-wrapper no-body" style="padding-right: 0">
            <table id="scan-header-table" class="xnat-table clean columns-only fixed-header selectable" style="width:100%;border:none;">
                <thead>
                <tr>
                    <th class="toggle-all" style="width:50px">
                        <label style="width:100%;">
                            <input type="checkbox" class="selectable-select-all" id="toggle-all-scans" title="Toggle All Scans">
                        </label>
                    </th>
                    <th class="actions" style="width:100px;">Actions</th>
                    <th class="left" style="width:120px;">Scan</th>
                    <th class="left" style="width:150px;">Type</th>
                    #if($siteConfig.uiDisplaySeriesDescription)
                        <th class="left" style="width:150px;">Series Desc</th>
                        #set($fileIndex="4")
                    #else
                        #set($fileIndex="3")
                    #end
                    <th class="left" style="width:100px;">Usability</th>
                    <th class="left" style="width:160px;">Files</th>
                    <th style="width:180px;">Note</th>
                    <th style="width:auto;">Run</th>
                </tr>
                </thead>
            </table>
        </div>
    #end

    <script type="text/javascript">
        var jsScanList = [];
    </script>

    #set ($scanWFiles = 0)

    #if ($om.getSortedScans().isEmpty())

        <div class="message"><b>No scans found in this session.</b></div>

    #else
        <div class="data-table-wrapper no-header" style="/* max-height: 320px; overflow-y: auto */">
            <table id="scan-data-table" class="xnat-table clean columns-only fixed-header selectable" style="width:100%;border:none;">
                <tbody>

                    #foreach($scan in $om.getSortedScans())

                        #set ($scanID = $!turbineUtils.escapeHTML("$!scan.getProperty('ID')"))
                        #set ($scanType = $!turbineUtils.escapeHTML("$!scan.getProperty('type')"))
                        #set ($seriesDesc = $!turbineUtils.escapeHTML("$!scan.getProperty('series_description')"))
                        #set ($scanQuality = $!turbineUtils.escapeHTML("$!scan.getProperty('quality')"))
                        #set ($scanNote = $!turbineUtils.escapeHTML("$!scan.getProperty('note')"))

                    <tr valign="top" id="scan-$scanID" class="scan-data-row">
                        <td class="scan-actions-controls scan-selector center">
                            <script type="text/javascript">
                                jsScanList.push({ id: '$scanID', series_description: '$seriesDesc' });
                            </script>
                            <input type="checkbox" class="selectable-select-one" name="scanAction" value="$scanID"/>
                        </td>
                        <td class="scan-${scanID}-actions center no-wrap">
                            <div class="inline-actions" style="display:block;">
                                <a href="#!details#id=${scanID}" class="view-scan-details" #* onclick="displayScanDetails($scanID)" *# title="View Details: ${scanID}">
                                    <i class="fa fa-list-alt"></i>
                                </a>
##                                <a href="#!ximg-viewer#id=${scanID}" class="open-ximg-viewer" title="Open in Image Viewer: ${scanID}">
##                                    <i class="fa fa-eye"></i>
##                                </a>
                                <a href="#!download#id=${scanID}#xsiType=${om.getXSIType()}#expt=$!{om.getId()}" class="download-scan" title="Download: ${scanID}">
                                    <i class="fa fa-download"></i>
                                </a>
                                #if ($data.getSession().getAttribute("userHelper").canDelete($item))
                                    <a href="#!delete#id=${scanID}" class="delete-scan" title="Delete Scan: ${scanID}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                #end
                            </div>
                        </td>
                        <td class="scan-${scanID}-id">
                            <a href="#!details#id=${scanID}" class="view-scan-details" #* onclick="displayScanDetails($scanID)" *#>
                                $scanID
                            </a>
                        </td>
                        <td class="scan-${scanID}-type">
                            <span title="$scanType">$scanType</span>
                        </td>
                        #if($siteConfig.uiDisplaySeriesDescription)
                            <td class="scan-${scanID}-description">
                                <span title="$seriesDesc">$seriesDesc</span>
                            </td>
                        #end
                        <td class="scan-${scanID}-quality left quality-$scanQuality" style="font-weight:bold;">
                            <span title="$scanQuality">$scanQuality</span>
                        </td>

                        <td class="scan-${scanID}-files" style="overflow:visible;">
                            #if ($data.getSession().getAttribute("userHelper").canEdit($item))
                            ## <span class="inline-actions">
                            ##     <i class="fa fa-upload uploadLink" title="Upload Resource" data-type="xnat:imageScanData" data-props="$!scan.getType()" data-uri="$content.getURI("/data/experiments/$om.getId()/scans/$scan.getId()")"></i>
                            ## </span>
                            #end
                            #if($scan.getFile().size()>0)
                            #set($stats = $!scan.getReadableFileStats())
                            #if("$!stats.get(0)" == "" || $stats.size() == 0 || $stats.get(0).equals("0 B in 0 files"))
                                #renderEmptyResourceCount()
                            #elseif($stats.size() == 1)
                                $stats.get(0)
                            #else
                                #displayListAsTipText($stats)
                            #end

                            #set ($scanWFiles = $scanWFiles+1)
                        #else
                            #renderEmptyResourceCount()
                        #end
                        </td>
                        <td id="scan-${scanID}-note">
                            <div class="scan-note-content pull-left text-left" style="width:85%;" title="$scanNote">
                                <span class="truncate">$scanNote</span>
                            </div>
                            <div class="inline-actions pull-right text-right" style="display:block;width:15%;">
                                <i class="fa fa-edit edit-scan-note" data-scan-id="$scanID" title="Edit Note"></i>
                            </div>
                        </td>
                        <td style="position:relative;">
                            <div class="inline-actions-menu-toggle hidden"><i class="fa fa-caret-right"></i></div>
                            <ul class="inline-actions-menu single-scan-actions-menu" style="display:none;"></ul>
                        </td>
                    </tr>
                    #end

                </tbody>

            </table>
        </div>

        <script>
            var XNAT                = getObject(XNAT || {});
            XNAT.data               = getObject(XNAT.data || {});
            XNAT.data.context       = getObject(XNAT.data.context || {});
            XNAT.data.context.scans = jsScanList;

            // use the header to set widths of both tables
            matchCellWidths([], '#scan-header-table', '#scan-data-table');

        </script>
        <script src="${SITE_ROOT}/scripts/xnat/app/imageSession/scanTable.js"></script>
        <script src="${SITE_ROOT}/scripts/xnat/app/selectableTableBehavior.js"></script>

        <!-- hidden: scan details -->

        <style type="text/css">

            div.scan-details > table {
                width: 100%;
                font-size: 13px;
            }

            div.scan-details > table th {
                text-align: left;
                white-space: nowrap;
                background: none;
                border: none;
                font-weight: bold;
            }

            div.scan-details > table td {
                padding: 3px 8px;
            }

            div.xnat-dialog table.dump {
                width: 100%;
            }

            div.xnat-dialog table.dump th {
                padding-bottom: 20px;
            }

        </style>

        #foreach($scan in $om.getSortedScans())
            #set ($scanID = $!scan.getProperty("ID"))
            <div class="html-template" id="scan-${scanID}-details-template">
                <div class="scan-details">
                    #parse($turbineUtils.getTemplateName("_details",$scan.getXSIType(),$project))
                </div>
            </div>
        #end

        <br>

    #end

    #if($scanWFiles>0)
        <div class="data-table-footer">
        <span id="total_dicom_files">
            <b>Total:</b>
            #set($sessionStats = $om.getSessionReadableScanStats())
            #if("$!sessionStats.get(0)" == "" || $sessionStats.size() == 0 || $sessionStats.get(0).equals("0 B in 0 files"))
                #renderEmptyResourceCount()
            #else
                #displayListAsTipText($sessionStats)
            #end
        </span>
        </div>
    #end
</div>


#set ($qcXsiType = "xnat:qcAssessmentData")
#parse($turbineUtils.getTemplateName("report_summary",$qcXsiType,$project))

<!--END /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->
