##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<script language="javascript">
    var ConfirmEmail = function(e) {

        try {
            var validateEmail = XNAT.app.register.validateInput;
            var emailValidators = XNAT.app.register.validators;
            var emailErrorMessages = XNAT.app.register.errorsFound = []; // reset errors on each validation attempt

            // execute the validators on the fields, creating a list of boolean results for each field.
            var emailValidations = [
                validateEmail('new_email', [emailValidators.nonEmpty, emailValidators.isEmail]),
                validateEmail('confirm_email', [emailValidators.nonEmpty, emailValidators.isEmail, emailValidators.valuesMatch('confirm_email','new_email')])
            ];

            // if any of the validations failed, stop form submission
            for (var i = 0; i < emailValidations.length; i++) {
                if (!emailValidations[i]) {
                    var errorMessage = '<p>Error(s) found: </p><ul>';
                    for (var i=0, j=emailErrorMessages.length; i<j; i++) {
                        errorMessage += '<li>'+emailErrorMessages[i]+'</li>';
                    }
                    errorMessage += '</ul>';
                    xmodal.alert({title: 'Form Validation Error', message: errorMessage });
                    return false;
                }
            }
            return true;
        } catch(e) {
            xmodal.alert({ title: 'XNAT error', message: e});
        }

    };

</script>
<div class="user_account_settings">
	<form name="form1" class="noHide friendlyForm optOutOfXnatDefaultFormValidation" method="post" action="$link.setAction("ModifyEmail")" ONSUBMIT="return ConfirmEmail();">

		<h3>Change Email for $!item.getProperty("firstname") $!item.getProperty("lastname") ($!item.getProperty("login"))</h3>
		<fieldset>
			<p>
				<label>Current Email</label>
				<span>$!item.getProperty("email")</span>
			</p>
			<p>
				<label for="xdat:user.email">Enter New Email</label>
				<input id="new_email" type="text" name="xdat:user.email" value=""/>
			</p>
			<p>
				<label for="confirm_email">Confirm New Email</label>
				<input id="confirm_email" type="text" name="confirm_email" value=""/>
			</p>
			<input type="hidden" name="destination" value="Index.vm"/>
			<input type="hidden" name="message" value="Email Changed."/>
			#xdatHiddenBox("xdat:user.xdat_user_id" $item "")
			#xdatHiddenBox("xdat:user.login" $item "")
			#xdatEditProps($item $edit_screen)
			<p>
				<input type="submit" name="eventSubmit_doSetup" value="Submit"/>
			</p>
		</fieldset>
	</form>
</div>
