##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XNAT - Change Password")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#parse("/screens/userValidationJS.vm")
<script language="javascript">
    var ConfirmPassword = function(e) {

		try {
            var validateInput = XNAT.app.register.validateInput;
            var validators = XNAT.app.register.validators;
            var errorMessages = XNAT.app.register.errorsFound = []; // reset errors on each validation attempt

            // execute the validators on the fields, creating a list of boolean results for each field.
            var validations = [
                validateInput('new_password', [validators.nonEmpty, validators.max255, validators.regex('$siteConfig.passwordComplexity'.trim(),'$siteConfig.passwordComplexityMessage')]),
                validateInput('confirm_password', [validators.nonEmpty, validators.max255, validators.regex('$siteConfig.passwordComplexity'.trim(),'$siteConfig.passwordComplexityMessage'), validators.valuesMatch('confirm_password','new_password')])
            ];

			#if (!$forgot)
                validations.push(validateInput('current_password',[validators.nonEmpty]));
			#end

            // if any of the validations failed, stop form submission
            for (var i = 0; i < validations.length; i++) {
                if (!validations[i]) {
                    var errorMessage = '<p>Error(s) found: </p><ul>';
                    for (var i=0, j=errorMessages.length; i<j; i++) {
                        errorMessage += '<li>'+errorMessages[i]+'</li>';
                    }
                    errorMessage += '</ul>';
                    xmodal.alert({title: 'Form Validation Error', message: errorMessage });
                    return false;
                }
            }
            return true;
		} catch(e) {
			xmodal.alert({ title: 'XNAT error', message: e});
		}


		/*
        if(document.getElementById('new_password').value == document.getElementById('confirm_password').value) {
            return true;
        } else {
            xmodal.message('Password Validation', 'Values do not match.');
            document.getElementById('new_password').value='';
            document.getElementById('confirm_password').value='';
            return false;
        }
        */
    };

</script>

<div class="user_account_settings">

	<form class="noHide friendlyForm optOutOfXnatDefaultFormValidation" name="form2" method="post" action="$link.setAction("ModifyPassword")" onSubmit="return ConfirmPassword();" target="_blank">
		<h3>Change Password for $!item.getProperty("firstname") $!item.getProperty("lastname") ($!item.getProperty("login"))</h3>
		<fieldset>
			#if (!$forgot)
				<p>
                    <label for="current_password">Current Password</label>
					<input id="current_password" type="password" name="current_password" value="" autocomplete="off"/>
				</p>
			#end
			<p>
                <label for="xdat:user.primary_password">New Password</label>
				<input id="new_password" type="password" name="xdat:user.primary_password" value="" autocomplete="off"/>
			</p>
			<p>
                <label for="confirm_password">Confirm New Password</label>
				<input id="confirm_password" type="password" name="confirm_password" value="" autocomplete="off"/>
			</p>
			#xdatHiddenBox("xdat:user.xdat_user_id" $item "")
			#xdatHiddenBox("xdat:user.login" $item "")
			#xdatEditProps($item $edit_screen)
			<p>
				<input type="submit" name="eventSubmit_doSetup" value="Submit"/>
            </p>
        </fieldset>
	</form>
</div>
